<div class="flex justify-between p-3 shadow-md">
    <a routerLink="/" class="text-2xl uppercase">Fingers Fly</a>
    <div class="text-2xl">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="p-2">HOME</a>
        <a routerLink="/shop" routerLinkActive="active" class="p-2">SHOP</a>
        <a href="" class="p-2">CONTACT</a>
    </div>
    <div class="flex cursor-pointer">
        <div class="relative mr-2">
            <i class="fas fa-shopping-cart text-xl mr-2"></i>
            <span class="absolute -top-2 right-0 bg-slate-300 px-1 py-0.5 rounded-full text-xs">5</span>
        </div>
        <button class="btn">Login</button>
        <button class="btn">Register</button>
    </div>
</div>