<div class="flex justify-between p-3 shadow-md">
    <a routerLink="/" class="text-2xl uppercase">Fingers Fly</a>
    <div class="text-2xl">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="p-2">HOME</a>
        <a routerLink="/shop" routerLinkActive="active" class="p-2">SHOP</a>
        <a href="" class="p-2">CONTACT</a>
    </div>
    <div>
        <a matBadge="5" matbadgeSize="large" class="align-middle">
            <mat-icon style="font-size: 28px;">shopping_cart</mat-icon>
        </a>
        <button mat-stroked-button class="w-24 mx-3">Login</button>
        <button mat-stroked-button class="w-24">Register</button>
    </div>
</div>