@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

.primary {
    background-color: #134B70;
}

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
    @include mat.all-component-themes($customTheme);

    //over tailwindcss here
    .mdc-button,
    .mdc-raised-button,
    .mdc-stroked-button,
    .mdc-flat-button {
        @apply rounded-md;
    }
}

.my-select {
    margin-left: 15px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    background-position: right 15px top 50%;
}

.text-primary {
    color: #134B70;
}

.btn {
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid #705C53;
    color: #705C53;
    padding: 3px 10px;
    margin-left: 4px;
    margin-right: 4px;
    min-width: 100px;
}

.icon-btn {
    background-color: #fff;
    padding: 3px 10px;
    margin-left: 4px;
    margin-right: 4px;
    min-width: 40px;
}

.icon-btn:hover {
    transform: scale(1.05);
}

.btn:hover {
    background-color: #F5F5F7;
}

.mdc-notched-outline__notch {
    border-right-style: none !important;
}